*.o
*.hi
/logchanges
/nohup.out
/notes/
/src-extra/devel-util/MakeAntiNodesRunner
/src-extra/examples/FixSqlServerTpchSyntax
/src-extra/examples/MakeSelect
/src-extra/examples/Parse
/src-extra/examples/Parse2
/src-extra/examples/QQ
/src-extra/examples/ShowCatalog
/src-extra/examples/TypeCheck
/src-extra/examples/TypeCheckDB
/src-extra/h7c/dist/
/src-extra/tosort/util/DevelTool
/src-extra/tests/Tests
/src-extra/devel-util/MakeDefaultTemplate1Catalog
/src-extra/devel-util/GenerateExeRules
/src-extra/h7c/h7c
/.depend.mk.bak
/src-extra/docutil/DevelTool
/src-extra/examples/Lex
/src-extra/examples/PPPTest
/src-extra/examples/Parse3
/src-extra/examples/TypeCheck2
/hssqlppp/dist
/hssqlppp-pg/dist/
/hssqlppp-th/dist/
/hssqlppp/tests/Tests
/src-extra/devel-util/PostprocessUuagc