/logchanges
nohup.out
/notes/
/build/
/hssqlppp/dist/
/hssqlppp-pg/dist/
/hssqlppp-th/dist/
/sandbox/
/cabal.sandbox.config
/hssqlppp-pg/cabal.sandbox.config
/hssqlppp-th/cabal.sandbox.config
/hssqlppp/cabal.sandbox.config
/examples/cabal.sandbox.config
/examples/dist/
/postprocess-uuagc/dist/
/postprocess-uuagc/cabal.sandbox.config
/build-extras/dist/
/build-extras/cabal.sandbox.config
/make-website/cabal.sandbox.config
/make-website/dist/
.stack-work/
/stack.yaml.lock
