*.o
*.hi
/dist/
/hssqlppp/
/logchanges
/nohup.out
/notes/
/src-extra/devel-util/MakeAntiNodesRunner
/src-extra/examples/FixSqlServerTpchSyntax
/src-extra/examples/MakeSelect
/src-extra/examples/Parse
/src-extra/examples/Parse2
/src-extra/examples/QQ
/src-extra/examples/ShowCatalog
/src-extra/examples/TypeCheck
/src-extra/examples/TypeCheckDB
/src-extra/h7c/dist/
/src-extra/tests/dist/
