h1, h2 {
  display:block;
  background-color: #f0f0f0;
  border-top: thin black solid;
  position:relative;
  padding-left:1ex;
}
h1 {
  font-size: x-large;
  left: -3ex;
  margin-top: 3ex;
  width: 102%;
}
h2 {
  font-size: large;
  left: -1.5ex;
  margin-top: 1.5ex;
  width: 101%;
}
body {
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
  margin-top: 2em;
}
.header {
  position:relative;
  left: -4ex;
  border-top: thin black solid;
  border-bottom: thin black solid;
  display:inline;
  padding: 1ex;
  background-color: #f0f0f0;
  font-weight: bold;
}
.footer {
  text-align: center;
  font-size: small;
}
pre {
  padding: 0;
}
pre.SqlPostgresql {
  padding: 0.5em;
  background-color: #f0f6f6;
}
pre.haskell,pre.Haskell {
  padding: 0.5em;
  background-color: #f5f5d9;
}
pre.sh {
  padding: 0.5em;
  background-color: #f0f0f0;
}
table, tr, td {
  border-collapse:collapse;
  cell-padding:0px;
  cell-spacing:0px;
  padding:0px
  spacing:0px
  margin:0px
  vertical-align:top;
}
td pre {
  width: 98%;
  height: 98%;
  vertical-align:top;
}
table {
  width:98%;
}
td {
  width: 49%;
  vertical-align:top;
}
hr {
  border: 0;
  color: black;
  background-color: black;
  height: 1px;
  width: 75%;
}


/* higlighting kate */

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode { }
pre.sourceCode span.Normal { }
pre.sourceCode span.Keyword { color: #007020; font-weight: bold; }
pre.sourceCode span.DataType { color: #902000; }
pre.sourceCode span.DecVal { color: #40a070; }
pre.sourceCode span.BaseN { color: #40a070; }
pre.sourceCode span.Float { color: #40a070; }
pre.sourceCode span.Char { color: #4070a0; }
pre.sourceCode span.String { color: #4070a0; }
pre.sourceCode span.Comment { color: #60a0b0; font-style: italic; }
pre.sourceCode span.Others { color: #007020; }
pre.sourceCode span.Alert { color: red; font-weight: bold; }
pre.sourceCode span.Function { color: #06287e; }
pre.sourceCode span.RegionMarker { }
pre.sourceCode span.Error { color: red; font-weight: bold; }
